footer {
  background-color: black;

  padding: 10px;

  font-size: 1.15em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: rgb(200, 200, 200);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #75b7ff;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
