<div class="login">
  <form>
    <mat-label>Имя</mat-label>
    <div class="input">
      <mat-dialog-content>
        <input
          marInput
          [(ngModel)]="username"
          name="name"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-dialog-content>
    </div>
    <mat-label>Пароль</mat-label>
    <div class="input">
      <mat-dialog-content>
        <input
          matInput
          [(ngModel)]="password"
          name="password"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-dialog-content>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button class="button" (click)="login()">
        <p class="login-button">login</p>
      </button>
      <div>
        {{ message }}
      </div>
    </mat-dialog-actions>
  </form>
</div>
